<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title || "Rajendhar Are | Portfolio" %></title>

<!-- Tailwind CSS -->
<link href="/css/output.css" rel="stylesheet">
<link rel="preload" href="/assets/myLogo.svg" as="image" type="image/svg+xml" loading="lazy">


<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Fira+Code:wght@400;500&display=swap" rel="stylesheet">

<!-- Favicon -->
<link rel="icon" href="/assets/myLogo.svg">